.list {
  list-style-type: none;
}
.list li {
  display: inline-block;
}
.fa1 {
  font-size: 20px !important;
  border-radius: 50%;
  border: 1px solid;
  padding: 6px 9px 6px 9px;
  background-color: #4867a1;
  color: white;
}
.fa2 {
  font-size: 20px !important;
  border-radius: 50%;
  border: 1px solid;
  background-color: #66aeeb;
  padding: 7px 7px 6px 7px;
  color: white;
}
.fa3 {
  font-size: 20px !important;
  border-radius: 50%;
  border: 1px solid;
  background-color: #1178c3;
  padding: 7px 7px 6px 7px;
  color: white;
}
